:root{
    --viewport-width: 1px;
    --viewport-height: 900px;
    --toaster-position: 0px;
}

@keyframes floatingInSpace{
    0%{
        margin-top: 0px;
    }
    50%{
        margin-top: -16px;
    }
    100%{
        margin-top: 0px;
    }
}

@keyframes floatingInSpaceFast{
    0%{
        margin-top: 0px;
    }
    50%{
        margin-top: -7px;
    }
    100%{
        margin-top: 0px;
    }
}

@keyframes twinklingStar{
    0%{
        color: #ffffff;
    }
    33%{
        color: #ccccff;
    }
    66%{
        color: #3333dd;
    }
    100%{
        color: #ffffff;
    }
}

@keyframes redEnemyGlow{
    0%{
        background-color: red;
    }
    
    50% {
        background-color: #ff2200;
    }
    
    100%{
        background-color: red;
    }
}

@keyframes blueEnemyGlow{
    0%{
        background-color: blue;
    }
    
    50% {
        background-color: #0011ff;
    }
    
    100%{
        background-color: blue;
    }
}

#boundingBox{
    height: var(--viewport-height);
    width: var(--viewport-width);
    border-width: 10px;
    border-color: #000000;
    border: solid;
    margin-left: auto;
    margin-right: auto;
}

#effectBounds{
    background-color: #000000;
    position: absolute;
    z-index: -10;
    
    height: var(--viewport-height);
    width: var(--viewport-width);
    
    margin-left: auto;
    margin-right: auto;
    margin: 0px;
}

#toasterBounds{
    position: absolute;
    top: var(--toaster-position);
    height: 10px;
    width: var(--viewport-width);
}

#bulletBounds{
    position: absolute;
    top: -8px;
    width: var(--viewport-width);
    height: 5px;
}

#enemyBounds{
    position: absolute;
    width: var(--viewport-width);
    height: var(--viewport-height);
}

#toaster{
    /*background-color: #cccccc;*/
    position: absolute;
    width: 120px;
    height: 120px;
    
    animation-name: floatingInSpace;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}

#toasterback{
    position: absolute;
    width: 100%;
    height: auto;
    z-index: 10;
}

#toasterfront{
    position: absolute;
    width: 100%;
    height: auto;
    z-index: 30;
}

#toasterCollision{
    width: 0px;
    height: 0px;
    position: absolute;
}


.toast{
    position: absolute;
}

.enemy{
    position: absolute;
    height: 20px;
    width: 20px;
    background-color: red;
    
    animation-name: floatingInSpaceFast, redEnemyGlow;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.dynamicEnemy{
    position: absolute;
    height: 20px;
    width: 20px;
    background-color: blue;
    
    animation-name: floatingInSpaceFast, blueEnemyGlow;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.star{
    font-family: monospace;
    position: absolute;
    color: #ffffff;
    margin-top: -8px;
    z-index: -9;
    
}

.twinklingstar{
    font-family: monospace;
    position: absolute;
    margin-top: -8px;
    z-index: -9;
    
    animation-name: twinklingStar;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    
}

#playerHud{
    position: absolute;
    top: 20%;
    width: 15%;
    height: 40%;
    background-color: #000033;
    
    font-family: monospace;
    color: white;
    font-size: 2vh;
    
}

#playerHud h1{
    font-size: 3vh;
}
