@import url(https://fonts.bunny.net/css?family=montserrat:200,600,600i,900i);

:root{
    --viewport-width: 1px;
    --viewport-height: 900px;
    --toaster-position: 0px;
}


@keyframes thanksgaming_icon_anim{
    0%{
        scale: 1;
    }
    50%{
        scale: 1.1;
    }
    100%{
        scale: 1;
    }
}

#thanksgaming_icon_main{
    animation-name: thanksgaming_icon_anim;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

#promoexit{
    visibility: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 999;
}

#promo{
    visibility: hidden;
    position: absolute; 
    z-index: 1000;
    width: 700px;
    height: 620px;
    background-color: rgb(1 4 8 / 90%);
    
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    
    color: #ffffff;
    font-family: montserrat;
    font-weight: 200;
    /*src: url(https://fonts.bunny.net/css?family=montserrat:600i,900i);*/

    padding: 16px;
}

#promo a{
    color: #eeeeff;
}

#promo h1{
    text-align: center;
    font-weight: 900;
    font-style: italic;
    margin: 0px;
    font-size: 250%;
}

#promo h2{
    font-weight: 600;
    font-size: 180%;
    font-style: italic;
}

#promo h6{
    text-align: center;
    font-size: 100%;
    margin: 0px;
}

#promo h6 b{
    font-size: 130%;
    font-weight: 900;
    font-style: italic;
}

#promo img{
    width: 100%;
    height: auto;

}

#toastInnerContainer img{
    width: 100%;
    height: 100%;
}

#toastInnerContainer .turkey{
    width: 100%;
    height: 100%;
}

@keyframes floatingInSpace{
    0%{
        margin-top: 0px;
    }
    50%{
        margin-top: -16px;
    }
    100%{
        margin-top: 0px;
    }
}

@keyframes floatingInSpaceFast{
    0%{
        margin-top: 0px;
    }
    50%{
        margin-top: -7px;
    }
    100%{
        margin-top: 0px;
    }
}

@keyframes shake{
    0%{
        margin-left: 0px;
    }
    50%{
        margin-left: -2px;
    }
    100%{
        margin-left: 0px;
    }
}

@keyframes twinklingStar{
    0%{
        color: #ffffff;
    }
    33%{
        color: #ccccff;
    }
    66%{
        color: #3333dd;
    }
    100%{
        color: #ffffff;
    }
}

@keyframes redEnemyGlow{
    0%{
        background-color: red;
    }
    
    50% {
        background-color: #ff2200;
    }
    
    100%{
        background-color: red;
    }
}

@keyframes blueEnemyGlow{
    0%{
        background-color: blue;
    }
    
    50% {
        background-color: #0011ff;
    }
    
    100%{
        background-color: blue;
    }
}

#boundingBox{
    height: var(--viewport-height);
    width: var(--viewport-width);
    border-width: 10px;
    border-color: #000000;
    border: solid;
    margin-left: auto;
    margin-right: auto;
}

#effectBounds{
    background-color: #000000;
    position: absolute;
    z-index: -10;
    
    height: var(--viewport-height);
    width: var(--viewport-width);
    
    margin-left: auto;
    margin-right: auto;
    margin: 0px;
}

#toasterBounds{
    position: absolute;
    top: var(--toaster-position);
    height: 10px;
    width: var(--viewport-width);
}

#bulletBounds{
    position: absolute;
    top: -8px;
    width: var(--viewport-width);
    height: 5px;
}

#enemyBounds{
    position: absolute;
    width: var(--viewport-width);
    height: var(--viewport-height);
}

#toaster{
    /*background-color: #cccccc;*/
    position: absolute;
    width: 120px;
    height: 120px;
    
    animation-name: floatingInSpace;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}

#toasterback{
    position: absolute;
    width: 100%;
    height: auto;
    z-index: 10;
}

#toasterfront{
    position: absolute;
    width: 100%;
    height: auto;
    z-index: 30;
}

#toasterCollision{
    width: 0px;
    height: 0px;
    position: absolute;
}


.toast{
    position: absolute;
}

.enemy{
    position: absolute;
    height: 20px;
    width: 20px;
    background-color: red;
    
    animation-name: floatingInSpaceFast, redEnemyGlow;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.enemy img{
    position:absolute;
    left: -100%;
    top: -100%;
    height: 300%;
    width: 300%;
}

.dynamicEnemy{
    position: absolute;
    height: 20px;
    width: 20px;
    background-color: blue;
    
    animation-name: shake, blueEnemyGlow;
    animation-duration: 0.06s;
    animation-iteration-count: infinite;
}

.dynamicEnemy img{
    position:absolute;
    left: -100%;
    top: -100%;
    height: 300%;
    width: 300%;
}


.star{
    font-family: monospace;
    position: absolute;
    color: #ffffff;
    margin-top: -8px;
    z-index: -9;
    text-align: center;
}

.smallcsclub{
    opacity: 50%;
    width: 80px;
    height: 80px;
}

.bigcsclub{
    opacity: 50%;
    width: 150px;
    height: 150px;
}

.hugecsclub{
    opacity: 50%;
    width: 500px;
    height: 500px;
}

.star img{
    width: 100%;
    height: auto;
}

.twinklingstar{
    font-family: monospace;
    position: absolute;
    margin-top: -8px;
    z-index: -9;
    
    animation-name: twinklingStar;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    
}

.explosion{
    background-color: green;
}

#playerHud{
    position: absolute;
    top: 20%;
    width: 15%;
    height: 40%;
    background-color: #000033;
    
    font-family: monospace;
    color: white;
    font-size: 2vh;
}

#playerHud img{
    width: 100%;
    height: auto; 
}

#playerHud h1{
    font-size: 3vh;
}

.smol{
    font-size: 1vh;
}

#bottomBar{
    position: absolute;
    bottom: 0%;
    right: 0%;
    font-family:  monospace;
    font-size: 12pt;
}

body{
    overflow: hidden;
    background: black;
}
